.body-main {
	margin-top: 100px;
}

.jobpost-heading {
	color: #0b5394;
	padding: 0px 100px;
}

.newpost-button {
	background-color: #0b5394;
	color: white;
}

.table-header {
	color: #0b5394;
	font-size: 20px;
}

.table-body {
	font-size: 18px;
}

.footer-sub {
	position: relative;
	bottom: 0px;
	width: 100%;
	background-color: #9ebbd4;
	opacity: 0.8;
}

.footer-sub-details {
	width: 100%;
	background-color: #9ebbd4;
	opacity: 0.8;
}

.button-post {
	margin-right: 10px;
}

.button-dashboard {
	color: white;
}

.details-body {
	padding: 0px 100px;
	margin-top: 20px;
}

.body-left {
	width:50%;
	margin-right: 30px;
}

.body-right {
	width:50%;
	margin-left: 30px;
}

.details_image {
	width: 100%;
}

.post-description {
	font-size: 20px;
	font-weight: lighter;
}

.comments {
	font-style: italic;
	color: #ffa516;
}

.list {
	padding: 0px;
	list-style-type: none;
}

.comment-list {
	margin: 0;
	padding: 0px 0px 0px 40px;
	list-style: none;
	background-image: url('comments-icon.png');
	background-repeat: no-repeat;
	background-position: left upper center;
	background-size: 30px;
}

.comment-content {
	font-size: 20px;
}

