@import url('https://fonts.googleapis.com/css2?family=Damion&family=Open+Sans:ital,wght@1,700&display=swap');

:root {
	--rosewood:#590004;
	--orche:#c17817;
	--vanbrown: #66462c;
}

.study-banner {
	height: 400px;
	background-color: #D5D6D7;
	padding-top: 100px;
}

.study-banner h1 {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 45px;
}

.study-banner h3 {
	color: #798da3;
	text-align: center;
	font-size: 17px;
	font-family: 'Open Sans', sans-serif;
	margin-top: 3.3rem;
}

.col-1 h1 {
	font-size: 30px;
}

.col-5 .heading {
	margin-bottom: 6.5rem;
}

.col-5 .heading h1 {
	font-size: 30px;
}

.col-1 form .form-input {
	border: 2px solid #D5D6D7;
	padding: .5rem;
	margin-bottom: 1rem;
	border-radius: .5rem;
	width: 100%;
	text-transform: none;
}

.col-1 form .form-input:focus {
    border-color: var(--rootwood);
}

.btn-study {
	display: inline-block;
    background-color: var(--rosewood);
    color: white;
    padding: .35rem 1.5rem;
    border: .1rem solid var(--rosewood);
    cursor: pointer;
    font-size: 1rem;
}

.btn-del {
	color: white;
	display: inline-block;
    background-color: #C70039;
    padding: .35rem 1.5rem;
    border: .1rem solid #C70039;
    cursor: pointer;
    font-size: 1rem;
}

.btn-del:hover {
    background-color: #C7003970;
    color: #C70039;
}

.btn-study:hover {
    background-color: #59000470;
    color: var(--rosewood);
}

a {
	text-decoration: none;
}

a:hover {
	color: var(--rosewood);
}

.btn-back {
	display: inline-block;
    background-color: var(--vanbrown);
    color: white;
    padding: .35rem 1.5rem;
    border: .1rem solid var(--vanbrown);
    cursor: pointer;
    font-size: 1rem;
}

.btn-back:hover {
    background-color: #66462c70;
    color: var(--vanbrown);
}

.btn-join {
	display: inline-block;
    background-color: var(--orche);
    color: white;
    padding: .35rem 1.2rem;
    border: .1rem solid var(--orche);
    cursor: pointer;
    font-size: .9rem;
}

.btn-join:hover {
    background-color: #c1781770;
    color: var(--orche);
}

.btn-leave {
	display: inline-block;
    background-color: var(--vanbrown);
    color: white;
    padding: .35rem 1.2rem;
    border: .1rem solid var(--vanbrown);
    cursor: pointer;
    font-size: .9rem;
}

.btn-leave:hover {
    background-color: #66462c70;
    color: var(--vanbrown);
}

.footer-color {
	background-color: #59000450;
	position: relative;
	bottom: 0;
	width: 100%;
}

.edit-form form {
	width: 80%;
	text-transform: none;
}

.edit-form form .form-input {
	border: 2px solid #D5D6D7;
	padding: .5rem;
	margin-bottom: 1rem;
	border-radius: .5rem;
	width: 100%;
	text-transform: none;
}

.edit-form form .form-input:focus {
    border-color: var(--rootwood);
}

.details-h1 {
	font-weight: bold;
}

.details-heading {
	font-weight: bold;
	font-size: 1.5rem;
	margin-bottom: 2rem;
}

.details p {
	border-bottom: 2px solid var(--rosewood);
	padding: .8rem 0;
	width:60%;
	margin-left: 8rem;
}

.details p span {
	font-weight: bold;
	margin-right: .2rem;
}