@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Damion&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Damion&family=Open+Sans:ital,wght@1,700&display=swap');

:root {
    --orche:#c17817;
    --eggplant:#75485e;
    --teal:#0e7c7b;
    --rosewood:#590004;
}

.col-1 {
	flex: 1;
}

.col-5 {
	flex: 5;
}

.col-4 {
	flex: 4;
}

.col-2 {
	flex: 2;
}

.col-3 {
	flex: 3;
}

* {
    font-family: 'Nunito', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    transition: all .2s linear;
}

html {
    font-size: 100%;
    overflow-x: hidden;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
}

.topper {
	height: 110px;
}

.section {
    padding: 2rem 9%;
}

.header {
    position: fixed;
    top: 0; left: 0; right: 0;
    color: #333;
    background-color: white;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 9%;
}

.header .logo {
	font-family: 'Damion', cursive;
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--orche);
    text-decoration: none;
}

.header .logo:hover {
	color: #333;
}

.header .navbar a {
    color: #333;
    font-size: 1.2rem;
    margin: 0 1.5rem;
    text-decoration: none;
}

.header .navbar a:hover {
    color: var(--orche);
}

.btn-login {
    display: inline-block;
    background-color: var(--eggplant);
    color: white;
    padding: .35rem 1.5rem;
    border: .2rem solid var(--eggplant);
    cursor: pointer;
    font-size: 1rem;
}

.btn-signup {
    display: inline-block;
    background-color: var(--teal);
    color: white;
    padding: .35rem 1.5rem;
    border: .2rem solid var(--teal);
    cursor: pointer;
    font-size: 1rem;
}

.btn-logout {
    display: inline-block;
    background-color: var(--rosewood);
    color: white;
    padding: .35rem 1.5rem;
    border: .2rem solid var(--rosewood);
    cursor: pointer;
    font-size: 1rem;
}

.home-banner {
	height: 450px;
	background-color: #D5D6D7;
	padding-top: 125px;
}

.home-banner h1 {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 45px;
}

.home-banner h3 {
	color: #798da3;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}

.success-post-left {
	position: relative;
  	text-align: center;
}

.success-post-left img {
    width: 100%;
	border-radius: 5%;
	object-fit: contain;
}

.success-post-left .overlay {
	position: absolute;
  	font-weight: bold;
  	font-size: 1.4rem;
  	top: 75%;
  	left: 10%;
}

.success-post-left .overlay h1 {
	font-size: 3rem;
	font-weight: bold;
}

.success-post-right {
	position: relative;
  	text-align: center;
  	color: white;
}

.success-post-right img {
	width: 100%;
	border-radius: 5%;
	object-fit: contain;
}

.success-post-right .overlay {
	position: absolute;
  	font-weight: bold;
  	font-size: 1rem;
  	top: 65%;
  	left: 5%;
}

.success-post-right .overlay h1 {
	font-size: 1.7rem;
	font-weight: bold;
}

.post-box {
	margin: 5rem 0;
}

.post-box .img-box {
	margin-right: 3.5rem;
}

.post-box .content h1 {
	font-size: 2rem;
}

.post-box .content p {
	font-size: 1rem;
	color: #979A9B;
}

.recent .box {
	padding: 3rem 2rem;
	text-align:center;
	box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
	border-radius: .5rem;
	border: 2px solid var(--eggplant);
}

.recent .recent-slider {
	padding-bottom: 2rem;
}

.recent .box img {
	height: 13rem;
	width: 20rem;
	object-fit: cover;
	margin-bottom: 1rem;
}

.recent .box h3 {
	color: #333;
	font-size: 1.7rem;
}

.recent .box .post-type {
	position: absolute;
	top:30px;
	left: 30px;
	background-color: var(--eggplant);
	padding: .25rem 1.2rem;
	border-radius: .5rem;
	color: white;
	font-size: .8rem;
	text-transform: uppercase;
	border: 2px solid #333;
}

.recent .box .recent-date {
	color: #666;
	font-size: 1rem;
	padding: .5rem 0;
}

.recent .box .content {
	color: #666;
	font-size: 1rem;
	padding: 1rem 0;
}

.recent .box .link a{
	color: var(--orche);
}

.contact-box {
	background-color: #D5D6D7;
	padding: 2rem 9%;
}

.contact .contact-form {
	border: 2px solid #333;
	border-radius: .5rem;
	padding: 2rem 3.5rem;
	background-color: white;
	width: 100%;
}

.contact .contact-form p {
	color: #798da3;
}

.contact .contact-form .input-box {
	display: flex;
    gap: 25px;
}

.contact .contact-form .text-box {
	width: 57%;
}

.contact-box .col-1 .contact-info {
	border-radius: .5rem;
	padding: 4rem 3.5rem 6.8rem 3.5rem;
	border: 2px solid #333;
	background-color: white;
	width: 100%;
}

.contact-box .col-1 .contact-info p {
	font-size: .8rem;
	color: var(--orche);
}

.btn-contact {
    display: inline-block;
    background-color: var(--teal);
    color: white;
    padding: .35rem 1.5rem;
    border: .2rem solid var(--teal);
    cursor: pointer;
    font-size: 1rem;
}

.footer .footer-logo {
	font-family: 'Damion', cursive;
    font-size: 2rem;
    font-weight: bolder;
    color: var(--orche);
    text-decoration: none;
}

.footer .footer-logo:hover {
	color: #333;
}

.footer p {
	font-size: .9rem;
	color: #333;
}